html {
  box-sizing: border-box;
  font-size: 62.5%; /*1REM = 10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-principal {
  background-image: url("../asset/img/Under\ construction_2\ Copy.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.centro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.site-porcentaje {
  display: flex;
  justify-content: end;
}
.div-porcentaje {
  width: 100%;
}

.titulo {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.titulo-principal {
  margin-top: 80px;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
}

.construction {
  font-weight: normal;
}

.subtitulo {
  text-align: center;
  font-size: 30px;
}

.btn-danger {
  padding: 10px 0px;
  width: 170px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background: #ff505c;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.follow {
  text-align: end;
  font-size: 18px;
  padding-right: 60px;
}

.img-redes {
  margin-top: 10px;
  width: 40px;
}

.margen-redes {
  margin-right: 20px;
}

.copy {
  margin-bottom: -10px;
  font-size: 12px;
}

.cronometro,
.img-progeso {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  
h1.titulo.subtitulo.subtitulo-3 {
  font-size: 14px !important;
}
   .subtitulo-2 {
    margin-top: 20px;
    text-align: center;
    font-size: 12px !important;
    font-weight: 900;
  }
  .main-principal {
    height: 105vh;
  }

  .contact {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .div-copy {
    margin-top: 15px !important;
  }

  .titulo-principal {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
  }

  .subtitulo {
    text-align: center;
    font-size: 15px;
  }

  .img-log {
    width: 75px;
  }

  .img-redes{
      width: 30px;
  }

  .follow {
   margin-top: -20px;
   font-size: 12px;
  }
}

h1.titulo.subtitulo-2 {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

.margen{
  margin-top: 20px;
}

h1.titulo.subtitulo.subtitulo-3 {
  font-size: 20px !important;
}

h1.titulo.subtitulo.subtitulo-3.margen.margen-negativo.mt-5 {
  margin-top: 60px !important;
}